In [8]:
import pandas as pd
import numpy as np
from pandas import DataFrame,Series

In [9]:
arr1 = np.arange(9).reshape((3,3))

In [10]:
arr1

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

In [11]:
np.concatenate([arr1,arr1],axis=1)

array([[0, 1, 2, 0, 1, 2],
       [3, 4, 5, 3, 4, 5],
       [6, 7, 8, 6, 7, 8]])

In [12]:
np.concatenate([arr1,arr1],axis=0)

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8],
       [0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

In [13]:
ser1 = Series([0,1,2], index=['T','U','V'])
ser2 = Series([3,4], index=['X','Y'])

In [14]:
pd.concat([ser1,ser2])

T    0
U    1
V    2
X    3
Y    4
dtype: int64

In [15]:
pd.concat([ser1,ser2],axis=1)

/Users/yamaguchishota/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=True'.

To retain the current behavior and silence the warning, pass sort=False

  """Entry point for launching an IPython kernel.

     0    1
T  0.0  NaN
U  1.0  NaN
V  2.0  NaN
X  NaN  3.0
Y  NaN  4.0

In [16]:
pd.concat([ser1,ser2], keys=['cat1','cat2'])

cat1  T    0
      U    1
      V    2
cat2  X    3
      Y    4
dtype: int64

In [17]:
pd.concat([ser1,ser2], axis=1,keys=['cat1','cat2'])

/Users/yamaguchishota/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=True'.

To retain the current behavior and silence the warning, pass sort=False

  """Entry point for launching an IPython kernel.

   cat1  cat2
T   0.0   NaN
U   1.0   NaN
V   2.0   NaN
X   NaN   3.0
Y   NaN   4.0

In [20]:
dframe1=DataFrame(np.random.randn(4,3), columns=['X','Y','Z'])

In [21]:
dframe2=DataFrame(np.random.randn(3,3), columns=['Y','Q','X'])

In [22]:
pd.concat([dframe1,dframe2])

/Users/yamaguchishota/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=True'.

To retain the current behavior and silence the warning, pass sort=False

  """Entry point for launching an IPython kernel.

          Q         X         Y         Z
0       NaN  0.340151 -0.505350  0.823665
1       NaN  0.607905 -1.396511 -2.184598
2       NaN  0.725554  0.086809 -0.838484
3       NaN -2.155112 -1.731765 -0.552448
0  0.801370 -0.435349 -0.745861       NaN
1 -1.799425 -0.529215  0.090459       NaN
2 -0.817167 -0.215938 -1.220585       NaN

In [23]:
pd.concat([dframe1,dframe2], ignore_index=True)

/Users/yamaguchishota/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=True'.

To retain the current behavior and silence the warning, pass sort=False

  """Entry point for launching an IPython kernel.

          Q         X         Y         Z
0       NaN  0.340151 -0.505350  0.823665
1       NaN  0.607905 -1.396511 -2.184598
2       NaN  0.725554  0.086809 -0.838484
3       NaN -2.155112 -1.731765 -0.552448
4  0.801370 -0.435349 -0.745861       NaN
5 -1.799425 -0.529215  0.090459       NaN
6 -0.817167 -0.215938 -1.220585       NaN