In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame
from numpy.random import randn

In [2]:
ser1 = Series([1,2,3,4], index = ['A','B','C','D'])

In [3]:
ser1

A    1
B    2
C    3
D    4
dtype: int64

In [4]:
ser2 = ser1.reindex(['A', 'B', 'C', 'D', 'E', 'F'])

In [5]:
ser2

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
dtype: float64

In [6]:
ser2.reindex(['A', 'B', 'C', 'D', 'E', 'F','G'], fill_value=0)

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
G    0.0
dtype: float64

In [7]:
ser3 = Series(['USA', 'Mexioco', 'Canada'], index=[0,5,10])

In [8]:
ser3

0         USA
5     Mexioco
10     Canada
dtype: object

In [9]:
ser3.reindex(range(15), method='ffill')

0         USA
1         USA
2         USA
3         USA
4         USA
5     Mexioco
6     Mexioco
7     Mexioco
8     Mexioco
9     Mexioco
10     Canada
11     Canada
12     Canada
13     Canada
14     Canada
dtype: object

In [11]:
dframe = DataFrame(randn(25).reshape((5,5)), index = ['A','B','D','E','F'], columns=['col1','col2','col3','col4','col5'])

In [12]:
dframe

       col1      col2      col3      col4      col5
A -0.867384 -0.420660  0.964112 -0.121556 -0.409342
B -1.676343 -1.477015  0.061572  1.725699 -1.121241
D -2.541090  0.560868 -0.100163  2.199324 -0.977779
E  0.030793  1.113433  0.107175 -0.239851  1.250653
F  1.323076 -1.152674  0.340073  1.934768 -0.822256

In [16]:
new_index = ['A','B','C','D','E','F']
dframe2 = dframe.reindex(new_index)

In [17]:
dframe2

       col1      col2      col3      col4      col5
A -0.867384 -0.420660  0.964112 -0.121556 -0.409342
B -1.676343 -1.477015  0.061572  1.725699 -1.121241
C       NaN       NaN       NaN       NaN       NaN
D -2.541090  0.560868 -0.100163  2.199324 -0.977779
E  0.030793  1.113433  0.107175 -0.239851  1.250653
F  1.323076 -1.152674  0.340073  1.934768 -0.822256

In [18]:
new_columns = ['col1','col2','col3','col4','col5','col6']
dframe2.reindex(columns = new_columns)

       col1      col2      col3      col4      col5  col6
A -0.867384 -0.420660  0.964112 -0.121556 -0.409342   NaN
B -1.676343 -1.477015  0.061572  1.725699 -1.121241   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D -2.541090  0.560868 -0.100163  2.199324 -0.977779   NaN
E  0.030793  1.113433  0.107175 -0.239851  1.250653   NaN
F  1.323076 -1.152674  0.340073  1.934768 -0.822256   NaN

In [19]:
dframe

       col1      col2      col3      col4      col5
A -0.867384 -0.420660  0.964112 -0.121556 -0.409342
B -1.676343 -1.477015  0.061572  1.725699 -1.121241
D -2.541090  0.560868 -0.100163  2.199324 -0.977779
E  0.030793  1.113433  0.107175 -0.239851  1.250653
F  1.323076 -1.152674  0.340073  1.934768 -0.822256

In [23]:
dframe.loc[new_index, new_columns]

/Users/yamaguchishota/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  """Entry point for launching an IPython kernel.

       col1      col2      col3      col4      col5  col6
A -0.867384 -0.420660  0.964112 -0.121556 -0.409342   NaN
B -1.676343 -1.477015  0.061572  1.725699 -1.121241   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D -2.541090  0.560868 -0.100163  2.199324 -0.977779   NaN
E  0.030793  1.113433  0.107175 -0.239851  1.250653   NaN
F  1.323076 -1.152674  0.340073  1.934768 -0.822256   NaN